<div>
    <div>
        <%=comment.message %><br>
        <%= link_to("Reply", controller: "comments", action: "new", comment: {parent_id: comment.id, contract_id: comment.contract.id} ) %>
    </div>
    <%= render comment.replies %>

</div>
