<h1 class="page-header">Listing contracts</h1>
<ul class="contracts-list">
<% cache(cache_key_for_contracts) do %>
  <% @contracts.each do |contract| %>
      <% if !contract.approved %>
  <% cache(cache_key_for_contract_row(contract)) do %>
  <li class="contract-li <%= cycle('contract-odd', 'contract-even') %>">
    <div class="contract-box">
      <div class="contract-img">
      </div>
      <div class="contract-text">
	<h4 class="contract-title"><%= contract.title %></h4>
	<div class="contract-description">
	  <h4><%= truncate(strip_tags(contract.description), length: 80) %></h4>
	  <%= link_to 'Show', contract, class:"btn btn-default btn-xs"%>
	</div>
      </div>
    </div>
  </li>
  <% end %>
  <% end %>
  <% end %>
<% end %>
</ul>
