// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contracts-list{
  overflow:hidden;
  padding:3em;
  width: 100%;
  background:red;
}
.contract-li{
  margin:1em;
  float:left;
  list-style:none;
  width: 20%;
}
.contract{
  text-decoration:none;
  color:#000;
  background:#ffc !important;
  outline-style: solid;
  outline-width: 1px;
  display:block;
  height:200%;
  width:100%;
  padding:1em;
  text-align:center;
}
.contract-image{
  width: 100%;
}
.contract-title{
  font-size:100%;
  font-weight:normal;
}