<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your work on contract "<%= @contract.title %>" has been approved!</h1>
    <p>
      <%=@user.corporation %> has approved your work on "<%= @contract.title %>"..
      Congratulations, you have earned: $<%=@contract.pay %>
    </p>
    <p>

    </p>
  </body>
</html>

